.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
}
h1{
    text-align: center;
    color: #188f24;
    font-size: 2rem;
    font-weight: 600px;
}
.box{
    padding:40px  20px ;
    width: 40%;
    background: linear-gradient(to right, #87d9f0, #a5f3ad);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
label{
   font-size: 1.1rem;
    color: #188f24;
    font-weight: 600px;
}
.con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    width: 60%;
    padding: 10px;
    margin: 10px 20px;
    font-size: 1.1rem;
    border: 1px solid #858484;
    background-color: transparent;
    border-radius: 5px;
}
input:focus{
    outline: none;
}